@model Cosis.Models.PhieuDieuTra
@{
    int getThang()
    {
        return DateTime.Now.Month;
    }
    int getThangTruoc()
    {
        if (getThang() == 1)
        {
            return 12;
        }
        else
        {
            return getThang() - 1;
        }
    }
    int getNam()
    {
        return DateTime.Now.Year;
    }
    string getThangNamTruoc()
    {
        if (getThang() == 1)
            return "12/" + (getNam() - 1);
        else
        {
            return (getThang() - 1) + "/" + getNam();
        }
    }
}
@if (TempData["ThongBao"] != null)
{
                <script type="text/javascript" charset="utf-8">
                    window.onload = function () {
                    alert("@Html.Raw(@TempData["ThongBao"])");
                };
                </script>
}     
      <form action="/form1_4" method="post" class="form" enctype="multipart/form-data">
        <div class="choose-day row">
          <div class="choose-month">
            <label for="">Tháng</label>
            <select name="" id="">
                @for(int i =1;i<=12;i++){
                    @if (getThang() == i)
                    {
                        <option selected value="@i">@i</option>
                    }else{
                        <option value="@i">@i</option>
                    }
                }
            </select>
          </div>
          <div class="choose-year">
            <label for="">Năm</label>
            <input
              type="text"
              size="1"
              value="@getNam()"
              style="height: 26px"
            />
          </div>
        </div>
        <div class="form-group text-center">
          <label class="choose-title">
            <b>ĐIỀU TRA HOẠT ĐỘNG THƯƠNG MẠI VÀ DỊCH VỤ </b>
          </label>
        </div>
        <div class="form-group MSTP-info">
          <label class="P-name"><b>Phiếu 1.4/DN-DVK-T</b></label>
          <div class="mstp">
          <label for="">Mã số thuế</label>
          <div class="row">
            <input
              type="text"
              id="n0"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              autofocus
              data-next="1"
            />
            <input
              type="text"
              id="n1"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="2"
            />
            <input
              type="text"
              id="n2"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="3"
            />
            <input
              type="text"
              id="n3"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="4"
            />
            <input
              type="text"
              id="n4"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="5"
            />
            <input
              type="text"
              id="n5"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="6"
            />
            <input
              type="text"
              id="n6"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="7"
            />
            <input
              type="text"
              id="n7"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="8"
            />
            <input
              type="text"
              id="n8"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="9"
            />
            <input
              type="text"
              id="n9"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="10"
            />
          </div>
          <div class="row">
            <input
              type="text"
              id="n10"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="11"
            />
            <input
              type="text"
              id="n11"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="12"
            />
            <input
              type="text"
              id="n12"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="13"
            />
            <input type="hidden" id="MST1" name="Master.MaSoThue"/>
          </div>
          </div>
        </div>
        <div class="form-group text-center">
          <label class="text-center">
            <b>PHIẾU THU THẬP THÔNG TIN ĐỐI VỚI DOANH NGHIỆP/HỢP TÁC XÃ</b>
          </label>
          <label>
            <b>
              <i>
                (Áp dụng đối với doanh nghiệp/chi nhánh doanh nghiệp, hợp tác xã
                có hoạt động dịch vụ kinh doanh bất động sản và một số dịch vụ
                khác)
              </i>
            </b>
          </label>
        </div>

        <div class="form-group text-center">
          <div class="row"></div>
          <div>
            <label> <b>Tháng @getThang() Năm @getNam()</b> </label>
          </div>
          <div class="row"></div>
        </div>
        <div class="form-group bg-primary">
          <h5><b>A. THÔNG TIN CHUNG</b></h5>
        </div>
        <div id="ThongTinDoanhNghiepGroup" class="form-group">
          <div class="row">
            <label class="lb-info">Tên doanh nghiệp/HTX: </label>
            <input type="text" name="Master.Ten" class="infoma" />
          </div>
          <div class="adress">
            <label for="">Địa chỉ doanh nghiệp </label>
            <div class="adress-detail">
              <div class="row">
                <label class="lb-info">Tỉnh/TP trực thuộc TW: </label>
                <select name="Master.MaTinhTp" id="city" class="infoma">
                  <option value="">--- Chọn Tỉnh/TP ---</option>
                </select>
              </div>
              <div class="row">
                <label class="lb-info"
                  >Huyện/quận <i>(thị xã, TP thuộc tỉnh)</i>:
                </label>
                <select name="Master.MaQuanHuyen" id="district" class="infoma">
                  <option value="">--- Chọn Huyện/quận ---</option>
                </select>
              </div>
              <div class="row">
                <label class="lb-info">Xã/phường/thị trấn: </label>
                <select name="Master.MaPhuongXa" id="ward" class="infoma">
                  <option value="">--- Chọn Xã/phường/thị trấn ---</option>
                </select>
              </div>
              <div class="row">
                <label class="lb-info"
                  >Thôn, ấp<i>(số nhà, đường phố)</i>:
                </label>
                <input name="Master.DiaChiCuThe" type="text" class="infoma" />
              </div>
            </div>
          </div>
          <div class="row">
            <label class="lb-info">Số điện thoại: </label>
            <input name="Master.Sdt" type="text" class="infoma" />
          </div>
          <div class="row">
            <label class="lb-info">Email: </label>
            <input name="Master.Email" type="text" class="infoma" />
          </div>
          <div class="loaihinh">
            <label>Loại hình kinh tế</label>

            <div class="checkbox-tt">
              <label> 1.Kinh tế nhà nước</label>
              <label> 2.Kinh tế ngoài nhà nước</label>
              <label> 3.Kinh tế có vốn đầu tư trực tiếp nước ngoài</label>
            </div>
            <div class="checkbox">
              <input type="radio" name="Master.MaLh" value="Kinh tế nhà nước" />
              <input 
                type="radio"
                name="Master.MaLh"
                value="Kinh tế ngoài nhà nước"
              />
              <input
                type="radio"
                name="Master.MaLh"
                value="Kinh tế có vốn đầu tư trực tiếp nước ngoài"
              />
            </div>
          </div>
          <div class="nganhKD">
            <div class="row">
              <label for="">Ngành hoạt động kinh doanh</label>
              <div class="MNHD row">
                <input
                  type="text"
                  maxlength="1"
                  size="1"
                  class="text-center MN"
                />
                <input
                  type="text"
                  maxlength="1"
                  size="1"
                  class="text-center MN"
                />
                <input
                  type="text"
                  maxlength="1"
                  size="1"
                  class="text-center MN"
                />
                <input
                  type="text"
                  maxlength="1"
                  size="1"
                  class="text-center MN"
                />
                <input
                  type="text"
                  maxlength="1"
                  size="1"
                  class="text-center MN"
                />
              </div>
              <label for="">Tên ngành HĐKD:</label>
              <input type="text" readonly class="infoma-nganh" style="width: 35%;"/>
            </div>
          </div>    
        </div>
        <div class="form-group bg-primary">
          <h5><b>B. KẾT QUẢ HOẠT ĐỘNG KINH DOANH</b></h5>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th style="width:30%;"><b>Tên chỉ tiêu</b></th>
              <th style="width:25%;" class="NganhCM"><b>Ngành chọn mẫu</b></th>
              <th style="width:15%;"><b>Tháng thực hiện @getThangNamTruoc()</b></th>
              <th style="width:15%;"><b>Dự tính @getThang()/@getNam() </b></th>
              <th style="width:15%;" class="text-uppercase">
                <b>CỘNG DỒN TỪ ĐẦU NĂM ĐẾN CUỐI THÁNG @getThang()/@getNam()</b>
              </th>
            </tr>
          </thead>
          <tbody id="table-data1_4">
            <tr class="text-center">
              <td></td>
              <td></td>
              <td colspan="3"><b>Đơn vị tính: Triệu đồng</b></td>
            </tr>
            <tr class="text-center">
              <td>A</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1. Tổng doanh thu</td>
              <td></td>
              <td><input type="text" pattern="[0-9,.\-$]+" id="ThthangTruoc0" oninput="changeThthangTruoc(0)" name="Detail[0].ThthangTruoc"
                class="infoma infomal" readonly /></td>
              <td><input type="text" pattern="[0-9,.\-$]+" id="DuTinh0" oninput="changeDuTinh(0)" name="Detail[0].DuTinh" class="infoma infomal"
                readonly /></td>
              <td><input type="text" pattern="[0-9,.\-$]+" id="TongCongDon0" name="Detail[0].TongCongDon" class="infoma infomal" readonly /></td>
            </tr>
            <tr>
              <td>2. Doanh thu thuần [NGÀNH CHỌN MẪU]</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
            </tr>
            <tr>
              <td>3. Trị giá vốn nhà để ở đã bán</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
            </tr>
            <tr>
              <td>
                4. Trị giá vốn nhà, công trình không để ở và bất động sản khác
                đã bán (Chỉ hiển thị khi mã ngành chọn mẫu là 68103)
              </td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
            </tr>
            <tr>
              <td>
                5. Chi phí hoa hồng cho đại lý xổ số (Chỉ hiển thị khi mã ngành
                chọn mẫu là 92)
              </td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
            </tr>
            <tr>
              <td>
                6. Chi phí trả thưởng xổ số (Chỉ hiển thị khi mã ngành chọn mẫu
                là 92)
              </td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
            </tr>
          </tbody>
        </table>
        <div class="form-group bg-primary">
          <h5><b>C. CÁC YẾU TỔ ẢNH HƯỞNG ĐẾN HOẠT ĐỘNG KINH DOANH</b></h5>
        </div>
        <div class="form-group">
          <label for=""
            >Yếu tố nào sau đây ảnh hưởng đến hoạt động kinh doanh của đơn vị
            trong tháng @getThang()</label
          >
          <div class="YTAH">
            <div class="YTAH-tt">
              <label for="">1. Nhu cầu thị trường</label>
              <label for="">2. Dịch bệnh</label>
              <label for="">3. Thời tiết</label>
              <label for="">4. Ảnh hưởng mùa vụ</label>
              <label for="">5. Thay đổi nhân sự</label>
              <label for="">6. Thay đổi kĩ thuật/công nghệ/phương tiện</label>
              <label for="">7. Nguồn vốn kinh doanh</label>
              <label for="">8. Thay đổi địa điểm/thị trường kinh doanh</label>
              <label for="">9. Lý do khác: ghi rõ</label>
            </div>
            <div class="YTAH-check">
              <input type="checkbox" name="DanhSachNhanToAnhHuong0" value="01" />
              <input type="checkbox" name="DanhSachNhanToAnhHuong1" value="02" />
              <input type="checkbox" name="DanhSachNhanToAnhHuong2" value="03" />
              <input type="checkbox" name="DanhSachNhanToAnhHuong3" value="04" />
              <input type="checkbox" name="DanhSachNhanToAnhHuong4" value="05" />
              <input
                type="checkbox"
                name="DanhSachNhanToAnhHuong5"
                value="06"
              />
              <input type="checkbox" name="DanhSachNhanToAnhHuong6" value="07" />
              <input
                type="checkbox"
                name="DanhSachNhanToAnhHuong7"
                value="08"
              />
              <input type="checkbox" id="YT9" value="" />
            </div>
          </div>
          <div class="YTAH9">
            <textarea
              class="form-control"
              rows="1"
              id="comment"
              name="NhanToThu9.NoiDung"
              disabled
            ></textarea>
          </div>
        </div>
        <div class="form-group uname-info">
          <div class="row">
            <label class="uname-lb">Họ tên người trả lời:</label>
            <input required type="text" name="Master.TenNguoiTraLoi" id="" class="infoma" />
          </div>
          <div class="row">
            <label class="uname-lb">Số điện thoại:</label>
            <input required type="text" name="Master.SdtnguoiTraLoi" id="" class="infoma" />
          </div>
        </div>
        <div class="group-btn" style="justify-content: end;">
          <select name="loai" style="margin-right:10px">
              <option value="0" disabled selected>Chọn file cần xuất</option>
              <option value="1">Xuất File PDF</option>
              <option value="2">Xuất File Excel</option>
              <option value="3">Xuất cả 2</option>
          </select>
          <button type="submit" value="false" class="btn btn-primary">Lưu</button>
        </div>
      </form>
      <div class="form-QLTT">
        <div class="head-group">
          <div class="title text-center">
            <h5 class="title-first"><b>DANH SÁCH CƠ SỞ</b></h5>
            <label class="title-last"
              ><i>Nhấn vào dòng cơ sở để nhập tin</i></label
            >
          </div>
          <div class="group-radio-btn row">
            <div class="check-form">
              <i class="bi bi-circle-fill" style="color: rgb(0, 160, 255)"></i>
              <label class="text-primary">Đã điều tra</label>
            </div>
            <div class="check-form" style="margin-left: 5px">
              <i class="bi bi-circle-fill" style="color: white"></i>
              <label>Chưa điều tra</label>
            </div>
            <div class="check-form" style="margin-left: 5px">
              <i class="bi bi-circle-fill" style="color: rgb(215, 70, 0)"></i>
              <label class="text">Không điều tra</label>
            </div>
          </div>
        </div>
        <table id="example" class="table table-bordered table-hover">
          <thead>
            <tr class="text-center tab-title">
              <th class="th1">Điều tra</th>
              <th class="th2">Mã ĐB</th>
              <th class="th3">Cơ sở số</th>
              <th class="th4">Tên cơ sở</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>a575769898</td>
              <td>c</td>
              <td>b</td>
              <td>d</td>
            </tr>
             <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
                         <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>

          </tbody>
        </table>
      </div>

<script type="text/javascript">
    /* var citis = document.getElementById("city");
var districts = document.getElementById("district");
var wards = document.getElementById("ward");
var Parameter = {
  url: "https://localhost:44358/assets/DiaChi.json", 
  method: "GET", 
  responseType: "application/json", 
};
var promise = axios(Parameter);
promise.then(function (result) {
  renderCity(result.data);
});

function renderCity(data) {
  for (const x of data) {
    citis.options[citis.options.length] = new Option(x.Name, x.Id);
  }
  citis.onchange = function () {
    district.length = 1;
    ward.length = 1;
    if(this.value != ""){
      const result = data.filter(n => n.Id === this.value);

      for (const k of result[0].Districts) {
        district.options[district.options.length] = new Option(k.Name, k.Id);
      }
    }
  };
  district.onchange = function () {
    ward.length = 1;
    const dataCity = data.filter((n) => n.Id === citis.value);
    if (this.value != "") {
      const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

      for (const w of dataWards) {
        wards.options[wards.options.length] = new Option(w.Name, w.Id);
      }
    }
  };
} */

$('.infomal').on('blur', function() {
    if(checkNumber(this.value)){
        const value = this.value.replace(/,/g, '');
        this.value = parseFloat(value).toLocaleString('en-US', {
        style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
            })
    }
});

    function changeThthangTruoc(tt){
       // var value  = getValue($('#ThthangTruoc'+tt).val());
        var value  = getValue($('input[id*="ThthangTruoc'+tt+'"]').val());
        if(checkNumber(value)){
            var stt = $('#stt'+tt).val();        
            var mst = $('#MST1').val();
            var duTinh = getValue($('input[id*="DuTinh'+tt+'"]').val());
            $.ajax({
                type: 'POST',
                url: '/get-tong',
                data: "mast=" + mst + "&stt="+stt+"&thangTrc="+value+"&duTinh="+duTinh,
                success: function (result) {
                    $('input[id*="TongCongDon'+tt+'"]').val(
                        parseFloat(result).toLocaleString('en-US', {
                        style: 'decimal',
                        maximumFractionDigits: 2,
                        minimumFractionDigits: 2
                      })
                    );
                    changeCongDon(result,tt);
                },
               error: function (result) {
               alert('Mã số thuế không tồn tại!');
             }
            });
          }
    var Tong = 0;
    var valueStrStt = String($('input#stt'+tt).val());
    var cutStrSTT  = valueStrStt.substring(Number(valueStrStt.indexOf("_"))+1,valueStrStt.length);
    //console.log(cutStrSTT);
    var TongCT2 = 0;
    // cut and skip first element 
    $('input[id*="_'+cutStrSTT+'"]:not(:first)').each(function() {
        var thisID = String($(this).attr('id'));
        if(thisID.includes("ThthangTruoc") == true){
          //console.log("id Thang Trc"+thisID);
        TongCT2 += getValue($(this).val()); 
        }
    });
    // update value doanh thu thuan of each nghanh
    $('input[id*="_'+cutStrSTT+'_2TT"]').val(parseFloat(TongCT2).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      }));
      // 
      // sum CongDonCt2
      var DT2 = getValue($('input[id*="_'+cutStrSTT+'_2DT"]').val());
      $('input[id*="_'+cutStrSTT+'_2CD"]').val((parseFloat(TongCT2)+parseFloat(DT2)).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      }));
      // sum TT0
      var sumTT0 = 0;
      $('input[id*="_2TT"]').each(function () {
        var value = $(this).val();
        sumTT0 += getValue(value);
      });
      $("#ThthangTruoc0").val(parseFloat(sumTT0).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      }));

    }
    function changeDuTinh(tt){
        @* var value = getValue($('#DuTinh'+tt).val()); *@
        var value  = getValue($('input[id*="DuTinh'+tt+'"]').val());
        if(checkNumber(value)){
            var stt = $('#stt'+tt).val();        
            var mst = $('#MST1').val();
            var thtrc = getValue($('input[id*="ThthangTruoc'+tt+'"]').val());
            $.ajax({
                type: 'POST',
                url: '/get-tong',
                data: "mast=" + mst + "&stt="+stt+"&thangTrc="+thtrc+"&duTinh="+value,
                success: function (result) {
                      $('input[id*="TongCongDon'+tt+'"]').val(
                        parseFloat(result).toLocaleString('en-US', {
                        style: 'decimal',
                        maximumFractionDigits: 2,
                        minimumFractionDigits: 2
                      })
                    );
                    changeCongDon(result,tt);
                },
               error: function (result) {
               alert('Mã số thuế không tồn tại!');
             }
            });
          }
          var Tong = 0;
    var valueStrStt = String($('input#stt'+tt).val());
    var cutStrSTT  = valueStrStt.substring(Number(valueStrStt.indexOf("_"))+1,valueStrStt.length); // Ma Nghanh
    var TongCT2 = 0;
    // cut and skip first element 
    $('input[id*="_'+cutStrSTT+'"]:not(:first)').each(function() {
        var thisID = String($(this).attr('id'));
        if(thisID.includes("DuTinh") == true && thisID.includes("_2DT") == false){
          //console.log("id Du Tinh"+thisID);
        TongCT2 += getValue($(this).val()); 
        }
    });
    // update value doanh thu thuan of each nghanh
    $('input[id*="_'+cutStrSTT+'_2DT"]').val(parseFloat(TongCT2).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      }));
      // 
      // sum CongDonCt2
      var TT2 = getValue($('input[id*="_'+cutStrSTT+'_2TT"]').val());
      $('input[id*="_'+cutStrSTT+'_2CD"]').val((parseFloat(TongCT2)+parseFloat(TT2)).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      }));
    // sum DT0
      var sumDT0 = 0;
      $('input[id*="_2DT"]').each(function () {
        var value = $(this).val();
        sumDT0 += getValue(value);
      });
      $("#DuTinh0").val(
            parseFloat(sumDT0).toLocaleString('en-US', {
                        style: 'decimal',
                        maximumFractionDigits: 2,
                        minimumFractionDigits: 2
                      })
            );
    }
    
    function changeCongDon(result,tt){
    var Tong = 0;
    var valueStrStt = String($('input#stt'+tt).val());
    // SUm TCD0
    var sumCD0 = 0;
      $('input[id*="_2CD"]').each(function () {
        var value = $(this).val();
        sumCD0 += getValue(value);
      });
      //$("#TongCongDon0").val(Tong);
      $("#TongCongDon0").val(parseFloat(sumCD0).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      })
      );
    }
    
    function checkNumber(str) {
        return /[0-9,.\-$]+/.test(str);
    }
    function getValue(str){
       return Number(str.replace(/[^0-9.-]+/g,""));
    }
</script>